[itemscope=itemscope] {
    border: 1px solid #888a85;
    background: #eeeeec;
    overflow: hidden;
    padding: 11px;
}

[itemscope=itemscope],
[itemscope=itemscope] dd,
[itemscope=itemscope] dt {
    display: block;
    margin: 0;
}

[itemscope=itemscope] [itemprop=work] {
    border: 1px solid #888A85;
    display: block;
    margin: auto auto 0.5em;
}

[itemscope=itemscope] dt {
    text-align: center;
}
